# To determine if the shade of lipstick and the price category is related:

 * Create a contingency table
 * Test for the assumption of 5 per cell in the expected contingency table
 * Compute an independent Chi-Square

In [2]:
import pandas as pd
from scipy import stats

In [3]:
lipstick = pd.read_csv("C:/Users/evjoh/Downloads/lead_lipstick.csv")

In [4]:
lipstick.head()

  JRC_code purchCntry prodCntry    Pb  sdPb shade prodType  priceCatgry
0     C135         NL        NL  3.75  0.24   Red       LP            2
1      C18         FI        FI  2.29  0.07   Red       LP            2
2      C20         FI        IT  1.27  0.06   Red       LP            2
3     C164         DE        FR  1.21  0.06   Red       LP            2
4      C71         MT        UK  0.85  0.04   Red       LP            2

## Test Assumptions and Run the Analysis

### Creating a Contigency Table

In [6]:
lipstick_c = pd.crosstab(lipstick['shade'], lipstick['priceCatgry'])
lipstick_c

priceCatgry   1   2   3
shade
Brown        20  30  10
Pink         20  49  12
Purple        8  23   6
Red           5  33   7

In [7]:
stats.chi2_contingency(lipstick_c)

(7.860569553614045,
 0.2484973879479863,
 6,
 array([[14.26008969, 36.32286996,  9.41704036],
        [19.25112108, 49.03587444, 12.71300448],
        [ 8.79372197, 22.39910314,  5.80717489],
        [10.69506726, 27.24215247,  7.06278027]]))

#### Looking at the second value (_p_ value associated with this Chi-Square statistic), it shows that there is not a significant relationship between the shade of the lipstick and the price of the product.

#### Each cell in the array has a minimum frequency of at least 5 entries per cell so it passes the contingency table assumption.